<h1>Artists</h1>

<% @artists.each do |artist| %>

<div>
  <%= link_to(artist) do %>
  <img src="<%= artist.photo_url %>" height=300 />
  <% end %>

  <p class="caption"><%= link_to("#{artist.name}", artist) %> <%= link_to("Edit Artist", edit_artist_path(artist.id) ) %></p>
</div>

 <%= form_tag artist_path(artist), method: "delete" do %>
    <%= submit_tag("Delete") %>
  <% end %>

</form>
<% end %>
<br>
<%= link_to("Add a new artist", new_artist_path) %>



