<h1><%= @artist.name %> </h1>

<img src="<%= @artist.photo_url %>" height="300"> 


<h2><%= @artist.genre %></h2>

<ul>
  <% @artist.songs.each do |song| %>
  <li>
    <%= song.title %>, <%= song.year %>
    <%= form_tag artist_song_path(@artist, song), method: "delete" do %>
    <%= submit_tag("Delete") %>
    <% end %>
    <%= link_to("Edit this Song", edit_artist_song_path(@artist, song)) %><br>
  </li>
  <% end %>
</ul>

<%= link_to("All Artists", artists_path) %>
<%= link_to("New Song", new_artist_song_path(@artist)) %>
