<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :dob %>
  <%= f.date_field :dob %>
  <%= f.label :gender %>
  <p>M: <%= f.radio_button :gender, "M" %></p>
  <p>F: <%= f.radio_button :gender, "F" %></p>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :facebook_link %>
  <%= f.text_field :facebook_link %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>